<html>
  <head>
    <title>WAFT CYPHER BETTSY</title>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width, intial-scale=1"></meta>
  </head>
  <body>
    <div id="react-app">{{content}}</div>
    <script src="//localhost:8081/js/app.js" defer></script>
  </body>
</html>
