
.comparator-tag {
  margin-right: 15px;
  color: #555;
  display: inline-block;
  cursor: hand;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0 4px;
  border: 1px solid transparent;
  border-radius: 4px;
  &:last-child{
    margin: 0;
  }
  &.comparator-tag__selected{
    color: #039;
    border-color: #039;
  }
}

