/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*h1, h2, h3, h4, h5, h6,*/
/*dl, dt, dd, ol, ul, li,*/
html, body, div, span, object, iframe,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body, html {
  line-height: 1;
  width: 100%;
  height: 100%;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }


/*App Wide CSS*/
body{
  font-family: 'Work Sans', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  color: #333;
}

a {
  color: #003399;
}
img {
  max-width:100%;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
#react-app {
  margin: 10px 1.575%;
}

@media (max-width: 500px) {
  body{
    font-size: 12px;
  }
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 20px;
  }
}


/*#  nav stuff  */
nav .active{
  color: #555;
  background-color: #e7e7e7;
}


[class*=lantern],
.lantern__glass::before,
.lantern__glass::after,
.lantern__base::after{
  content: '';
  display: block;
  border: 6px solid black;
  margin: 0 auto;
}
.lantern__circle{
  height: 250px;
  width: 250px;
  border: 8px solid black;
  border-radius:125px;
}
.lantern__hoop{
  height: 36px;
  width: 36px;
  border-radius:18px;
}
.lantern__lid,
.lantern__glass,
.lantern__base{
  width:39%;
  height:20px;
  border-radius:6px 6px 0 0;
  margin-top: -6px;
}
.lantern__glass{
  position: relative;
  height: 94px;
  border-radius:0 0 20px 20px;
}
.lantern__flame{
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg);
  border-width: 3px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 15px);
  z-index: 1;
  background-color: white;
}
.lantern__neck{
  height: 18px;
  width: calc(50% - 60px);
  margin-top: -6px;
}
.lantern__base{
  height: 50px;
  border-radius:20px 20px 0 0;
}
.lantern__base::after{
  height: 5px;
  width: 5px;
  margin: 20% auto;
  border-radius: 5px;
}
.lantern__base--lower,
.lantern__lid--lower{
  width:50%;
  border-radius: 6px;
  height:20px;
  margin-top: -6px;
}
.lantern__glass::after,
.lantern__glass::before{
  opacity: .5;
  position: relative;
  left: 20px;
  top:10px;
  height:20px;
  width:2px;
  border-width:2px;
  border-radius: 3px;
  border-color: transparent;
}
.lantern__glass::after{
  top:-10px;
  left: 27px;
  height:45px;
}
.lantern__base--lower::after{
  display: none;
}
.lantern__wick{
  width: 1px;
  height: 20px;
  border-width: 2px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 2px);
  transform-origin: bottom;
}
.loading .lantern__glass::after,
.loading .lantern__glass::before {
  animation: flicker-reflection 3s backwards linear infinite;
}
.loading .lantern__wick {
  animation: flicker-wick 3s backwards linear infinite;
}
.loading .lantern__flame {
  background-image: radial-gradient(59% 59%, red, orange);
  animation: flicker 3s backwards  linear infinite;
}
.error .lantern__flame{
  width: 10px;
  opacity: 0.35;
  height: 60px;
  transform: rotate(0deg) translateX(10px);
  background-image: linear-gradient(white, rgba(255, 255, 255, 0));
  background-color: black;
  border: 0;
  animation: flicker-out 2s forwards alternate infinite;
}

@keyframes flicker-out {
  0% {
    background-color: black;
  }
  100% {
    background-color: lightgrey;
  }
}

@keyframes flicker-reflection {
  5% {
    border-color:yellow;
  }
  12% {
    border-color:orange;
  }
  38% {
    border-color:orange;
  }
  75.5% {
    border-color:yellow;
  }
  85.5% {
    border-color:orange;
  }
  100% {
    border-color:yellow;
  }
}

@keyframes flicker-wick {
  12% {
    transform: rotate(10deg) translateY(5px) translateX(0px);
  }
  65.5%  {
    transform: rotate(-5deg) translateY(5px) translateX(0px);
  }
  75.5% {
    transform: rotate(0deg) translateY(5px) translateX(0px);
  }
  85.5% {
    transform: rotate(10deg) translateY(5px) translateX(0px);
  }
}

@keyframes flicker {
  5% {
    transform: rotate(-50deg);
    /*height: 40px;*/
  }
  12% {
  transform: rotate(-35deg);
    height: 40px;
    width: 40px;
  }
  38% {
  transform: rotate(-32deg);
    height: 30px;
    width: 40px;
  }
  75.5% {
  transform: rotate(-55deg) ;
    height: 30px;
    width: 25px;
  }
  85.5% {
  transform: rotate(-50deg) ;
    height: 30px;
    width: 45px;
  }
  100% {
    transform: rotate(-45deg);
  }

}

/*# datepicker stuff*/
.input-group-addon{
  background: white!important;
}
.form-group {
   margin-bottom: 10px;
 }

.DateRangePicker {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  user-select: none;
}

.DateRangePicker__Legend {
  color: #52575e;
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.DateRangePicker__LegendItem {
  display: inline-block;
  margin: 0 20px;
}

.DateRangePicker__LegendItemColor {
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  margin-right: 6px;
  vertical-align: text-bottom;
  width: 14px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.DateRangePicker__LegendItemColor--selection {
  background-color: #ed5434;
}

.DateRangePicker__PaginationArrow {
  border: 0;
  cursor: pointer;
  display: block;
  height: 35px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 35px;
  z-index: 1;
}

.DateRangePicker__PaginationArrow--previous {
  left: 20px;
}

.DateRangePicker__PaginationArrow--next {
  right: 20px;
}

.DateRangePicker__PaginationArrow:hover {
  background-color: #ccc;
}

.DateRangePicker__PaginationArrowIcon {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
}

.DateRangePicker__PaginationArrowIcon--is-disabled {
  opacity: .25;
}

.DateRangePicker__PaginationArrowIcon--previous {
  border-left: 8px solid transparent;
  border-right: 8px solid #aaa;
  right: 11px;
}

.DateRangePicker__PaginationArrowIcon--next {
  border-left: 8px solid #aaa;
  border-right: 8px solid transparent;
  left: 11px;
}

.DateRangePicker__Month {
  color: #333;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  user-select: none;
  width: 275px;
}

.DateRangePicker__MonthHeader {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  position: relative;
  text-align: center;
}

.DateRangePicker__MonthHeaderLabel {
  display: inline-block;
  position: relative;
}

.DateRangePicker__MonthHeaderSelect {
  background: #e4e4e4;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.DateRangePicker__MonthDates {
  border-bottom: 1px solid #f4f5f6;
  border-collapse: separate;
  border-spacing: 0 1px;
  margin: 0;
  width: 100%;
}

.DateRangePicker__WeekdayHeading,
.DateRangePicker__Date {
  font-size: 12px;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
  width: 14.285714285714286%;
}

.DateRangePicker__WeekdayHeading {
  border-bottom: 1px solid #f4f5f6;
  color: #000;
  font-weight: bold;
}

.DateRangePicker__WeekdayHeading abbr[title] {
  border-bottom-width: 0;
  color: #000;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
}

.DateRangePicker__Date {
  border: 0 solid #f4f5f6;
  border-right-width: 1px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.DateRangePicker__Date:first-child {
  border-left-width: 1px;
}

.DateRangePicker__Date--weekend {
  background-color: #f6f7f9;
}

.DateRangePicker__Date--otherMonth {
  opacity: .25;
}

.DateRangePicker__Date--is-disabled {
  color: #cdcdd1;
  cursor: default;
}

.DateRangePicker__Date--is-selected {
  color: #fff;
}

.DateRangePicker__Date--is-highlighted {
  color: #333;
}

.DateRangePicker__CalendarDatePeriod {
  bottom: 0;
  position: absolute;
  top: 0;
}

.DateRangePicker__CalendarDatePeriod--am {
  left: 0;
  right: 50%;
}

.DateRangePicker__CalendarDatePeriod--pm {
  left: 50%;
  right: 0;
}

.DateRangePicker__CalendarSelection {
  background-color: #ed5434;
  border: 1px solid #eb401d;
  bottom: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 5px;
}

.DateRangePicker__CalendarSelection--inOtherMonth {
  opacity: .5;
}

.DateRangePicker__CalendarSelection--start {
  border-bottom-left-radius: 5px;
  border-right-width: 0;
  border-top-left-radius: 5px;
  left: 5px;
}

.DateRangePicker__CalendarSelection--end {
  border-bottom-right-radius: 5px;
  border-left-width: 0;
  border-top-right-radius: 5px;
  right: 5px;
}

.DateRangePicker__CalendarSelection--segment {
  border-left-width: 0;
  border-right-width: 0;
}

.DateRangePicker__CalendarSelection--single {
  border-radius: 5px;
  left: 5px;
  right: 5px;
}

.DateRangePicker__CalendarSelection--is-pending {
  background-color: rgba(237, 84, 52, 0.75);
  border-width: 0;
}

.DateRangePicker__CalendarHighlight {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  bottom: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 5px;
}

.DateRangePicker__CalendarHighlight--inOtherMonth {
  opacity: .5;
}

.DateRangePicker__CalendarHighlight--start {
  border-bottom-left-radius: 5px;
  border-right-width: 0;
  border-top-left-radius: 5px;
  left: 5px;
}

.DateRangePicker__CalendarHighlight--end {
  border-bottom-right-radius: 5px;
  border-left-width: 0;
  border-top-right-radius: 5px;
  right: 5px;
}

.DateRangePicker__CalendarHighlight--segment {
  border-left-width: 0;
  border-right-width: 0;
}

.DateRangePicker__CalendarHighlight--single {
  background-color: #fff;
  border: 1px solid #eb401d;
  border-radius: 5px;
  left: 5px;
  right: 5px;
}

.DateRangePicker__HalfDateStates {
  bottom: -50px;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
  transform: rotate(30deg);
}

.DateRangePicker__FullDateStates {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.DateRangePicker__DateLabel {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}





/*-- Chart --*/
.c3 svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.c3 path, .c3 line {
  fill: none;
  stroke: #333; }

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid, .c3-event-rect, .c3-bars path {
  shape-rendering: crispEdges; }

.c3-chart-arc path {
  stroke: #fff; }

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px; }

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #aaa; }

.c3-grid text {
  fill: #aaa; }

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em; }

/*-- Line --*/
.c3-line {
  stroke-width: 1px; }

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.c3-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.c3-bar {
  stroke-width: 0; }

.c3-bar._expanded_ {
  fill-opacity: 0.75; }

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1; }

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px; }

.c3-target.c3-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
.c3-region {
  fill: steelblue;
  fill-opacity: 0.1; }

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: 0.1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px; }

.c3-legend-item-hidden {
  opacity: 0.15; }

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Title --*/
.c3-title {
  font: 14px sans-serif; }

/*-- Tooltip --*/
.c3-tooltip-container {
  z-index: 10; }

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9; }

.c3-tooltip tr {
  border: 1px solid #CCC; }

.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.c3-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #333;
  font-size: 16px; }

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777; }

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777; }

.c3-chart-arc .c3-gauge-value {
  fill: #333;
  /*  font-size: 28px !important;*/ }
